<extend name="Layout/common" />
<block name="style">
    <link rel="stylesheet" type="text/css" href="__COMMON__/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
    <style type="text/css">
        #qrcode {
            padding: 6px;
            width: 270px;
            height: 270px;
        }

        #accordion {
            margin-top: 20px;
        }

        .full-70 {
            width: 70px;
            height: 70px;
            padding-top: 24px;
        }

        .btn-disabled {
            cursor: not-allowed;
        }
    </style>
</block>
<block name="body">
    <h3>二维码</h3>
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#url" aria-controls="url" role="tab" data-toggle="tab">网址</a></li>
                <li role="presentation"><a href="#qq" aria-controls="qq" role="tab" data-toggle="tab">QQ</a></li>
                <li role="presentation"><a href="#qun" aria-controls="qun" role="tab" data-toggle="tab">QQ群</a></li>
                <li role="presentation"><a href="#weibo" aria-controls="weibo" role="tab" data-toggle="tab">微博</a></li>
                <li role="presentation"><a href="#wechat" aria-controls="wechat" role="tab" data-toggle="tab">微信</a></li>
                <li role="presentation"><a href="#app" aria-controls="app" role="tab" data-toggle="tab">App</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="url">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">网址</span>
                                <input type="url" class="form-control" id="txt_url" placeholder="http://www.wutnews.net/" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btn_url"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="qq">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">QQ</span>
                                <input type="tel" class="form-control" id="txt_qq" placeholder="2577438164" maxlength="11" required>
                            </div>
                        </div>
                        <p id="connect_qq"></p>
                        <button type="submit" class="btn btn-primary" id="btn_qq"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="qun">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">QQ群</span>
                                <input type="tel" class="form-control" id="txt_qun" placeholder="313594349" maxlength="11" required>
                            </div>
                        </div>
                        <p id="connect_qun">加入QQ群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=3d9988f877c4f18d21c957dec1460975acd8feba206123db4768ee37523cb2ca"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="武汉理工2015新生群Token" title="武汉理工2015新生群Token"></a></p>
                        <div class="alert alert-danger" role="alert">由于腾讯对QQ群组件进行了加密处理，如需获取【一键加群】的二维码，请前往 <a href="http://qun.qq.com/join.html" target="_blank">qun.qq.com/join.html</a> 下载。</div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="weibo">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">微博uid</span>
                                <input type="tel" class="form-control" id="txt_weibo" placeholder="1213740967" maxlength="12" required>
                            </div>
                            <div class="btn-group weibo-group" role="group" data-toggle="buttons">
                                <label class="btn btn-default" data-uid="5328936355">
                                    <input type="radio" autocomplete="off">武汉理工大学Token团队 </label>
                                <label class="btn btn-default" data-uid="1855112015">
                                    <input type="radio" autocomplete="off">武汉理工大学经纬论坛 </label>
                                <label class="btn btn-default" data-uid="2626763715">
                                    <input type="radio" autocomplete="off">武汉理工大学新闻经纬 </label>
                                <label class="btn btn-default" data-uid="3085057687">
                                    <input type="radio" autocomplete="off">武汉理工大学校园文化 </label>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-primary" id="btn_weibo"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="wechat">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">微信ID</span>
                                <input type="text" class="form-control" id="txt_wechat" placeholder="3nVBWU7EEhNtrQo69yDM" required>
                            </div>
                            <div class="btn-group wechat-group" role="group" data-toggle="buttons">
                                <label class="btn btn-default" data-id="3nVBWU7EEhNtrQo69yDM">
                                    <input type="radio" autocomplete="off">Token团队 </label>
                                <label class="btn btn-default" data-id="BUNMVGXE-ziArSE39xYX">
                                    <input type="radio" autocomplete="off">TokenFamily </label>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-primary" id="btn_wechat"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="app">
                    <form onsubmit="return false;" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">App名称：</label>
                            <div class="col-sm-10">
                                <select class="selectpicker" id="list_app">
                                    <option value="0">请选择……</option>
                                    <option value="1">掌上理工大</option>
                                    <option value="2">理工发布</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Android：</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">market://details?id=</span>
                                    <input type="text" class="form-control" id="txt_app_android" placeholder="com.wutnews.bus.main  或  http://app.wutnews.net/apps/BUS" required>
                                    <span class="input-group-addon">.apk</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">iOS：</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">https://appsto.re/cn/</span>
                                    <input type="text" class="form-control" id="txt_app_ios" placeholder="AtmF5.i">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Windows Phone：</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon">http://www.windowsphone.com/zh-cn/store/app/</span>
                                    <input type="text" class="form-control" id="txt_app_wp" placeholder="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">默认(电脑版)：</label>
                            <div class="col-sm-10">
                                <input type="url" class="form-control" id="txt_app_default" placeholder="http://app.wutnews.net/" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btn_app"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                      高级设置 <span class="pull-right glyphicon glyphicon-chevron-down" id="col-icon"></span>
                    </a>
                  </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false">
                        <div class="panel-body">
                            <form onsubmit="return false;" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">宽度(px)：</label>
                                    <div class="col-sm-4">
                                        <input type="tel" id="qrcode_width" class="form-control" autocomplete="off" value="256" maxlength="4" />
                                    </div>
                                    <label class="col-sm-2 control-label">高度(px)：</label>
                                    <div class="col-sm-4">
                                        <input type="tel" id="qrcode_height" class="form-control" autocomplete="off" value="256" maxlength="4" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">渲染方式：</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group render-group" role="group" data-toggle="buttons">
                                            <label class="btn btn-default active">
                                                <input type="radio" autocomplete="off" checked>Canvas </label>
                                            <label class="btn btn-default">
                                                <input type="radio" autocomplete="off">Table </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">纠错等级：</label>
                                    <div class="col-sm-10">
                                        <select class="selectpicker" id="qrcode_error">
                                            <option value="1">QRErrorCorrectLevel.L</option>
                                            <option value="0">QRErrorCorrectLevel.M</option>
                                            <option value="3">QRErrorCorrectLevel.Q</option>
                                            <option value="2" selected>QRErrorCorrectLevel.H</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">前景色：</label>
                                    <div class="col-sm-4">
                                        <div class="input-group fore-color">
                                            <input type="tel" id="qrcode_fcolor" class="form-control" autocomplete="off" value="#000000" maxlength="7" />
                                            <span class="input-group-addon"><i></i></span>
                                        </div>          
                                    </div>
                                    <label class="col-sm-2 control-label">背景色：</label>
                                    <div class="col-sm-4">
                                        <div class="input-group bg-color">
                                            <input type="tel" id="qrcode_bgcolor" class="form-control" autocomplete="off" value="#ffffff" maxlength="7" />
                                            <span class="input-group-addon"><i></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">中心Logo：</label>
                                    <div class="col-sm-10">
                                        <div class="btn-group logo-group" role="group" data-toggle="buttons">
                                            <label class="btn btn-default active">
                                            <input type="radio" autocomplete="off" checked><div class="full-70">无</div> </label>
                                            <label class="btn btn-default">
                                                <input type="radio" autocomplete="off"><img src="__IMAGE__/preview/iwut.png" title="掌上理工大iOS" /> </label>
                                            <label class="btn btn-default">
                                                <input type="radio" autocomplete="off"><img src="__IMAGE__/preview/wechat.png" title="Token团队微信" /> </label>
                                            <label class="btn btn-default">
                                                <input type="radio" autocomplete="off"><img src="__IMAGE__/preview/token.png" title="Token团队Logo" /> </label>
                                            <label class="btn btn-default">
                                                <input type="radio" autocomplete="off"><img src="__IMAGE__/preview/planet.png" title="Token Planet" /> </label>
                                            <label class="btn btn-default">
                                                <input type="radio" autocomplete="off"><img src="__IMAGE__/preview/wutnews.png" title="经纬网" /> </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a class="thumbnail" id="qrcode"><img src="__IMAGE__/blank.png" alt="二维码" title="二维码" /></a>
            <p class="text-center"><a href="" id="btn_download" class="btn btn-default btn-block" target="_blank" download="qrcode.png" disabled><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>下载</a></p>
        </div>
    </div> 
</block>
<block name="script">
    <script type="text/javascript" src="__COMMON__/qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript" src="__COMMON__/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script type="text/javascript">
    var render_method = "canvas";
    var logo_url = "";

    $(document).ready(function() {

        // ColorPicker初始化
        $(".fore-color").colorpicker();
        $(".bg-color").colorpicker();

    	// 网址
        $("#btn_url").click(function() {
            var url = $('#txt_url').val().trim();
            if (Token.check.url(url)) {
                Token.qrCode(url);
            }
            else Token.alert("Url的格式不正确，请重新输入！");
        });

        // QQ
        $("#btn_qq").click(function() {
            var qq = $('#txt_qq').val().trim();
            if (Token.check.qq(qq)) {
                Token.qrCode("http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes");
                $("#connect_qq").html("QQ状态：<a target=\"_blank\" href=\"http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes\"><img border=\"0\" src=\"http://wpa.qq.com/pa?p=2:"+qq+":42\" alt=\"QQ\" title=\"通过QQ联系\"></a>");
            }
            else Token.alert("QQ号的格式不正确，请重新输入！");
        });

        // 微博
        $("#btn_weibo").click(function() {
            var weibo = $('#txt_weibo').val().trim();
            if (Token.check.weibo(weibo)) {
                Token.qrCode("http://weibo.cn/qr/userinfo?uid="+weibo);
            }
            else Token.alert("微博uid的格式不正确，请重新输入！");
        });

        // 微信
        $("#btn_wechat").click(function() {
            var wechat = $('#txt_wechat').val().trim();
            if (wechat != "") {
                Token.qrCode("http://weixin.qq.com/r/"+wechat);
            }
            else Token.alert("微信ID的格式不正确，请重新输入！");
        });

        // App
        $("#btn_app").click(function() {
            var data = {
                id:  $("#list_app").val(),
                ios_url: $("#txt_app_ios").val(),
                android_url: $("#txt_app_android").val(),
                wp_url: $("#txt_app_wp").val(),
                default_url: $("#txt_app_default").val()
            };        
            if(data.id == 0) Token.alert("请先选择App");
            else if(data.android_url == "" || data.default_url == "") Token.alert("请输入App的下载地址信息！");
            else {
                Token.ajax("{:U('Tools/Url/modify')}", data, function(data) {
                    Token.qrCode("http://token.team/app/" + data);
                });
            }
        });

        // 微博选择监视
        $(".weibo-group label").click(function() {
            $("#txt_weibo").val($(this).data("uid"));
        });

        // 微信选择监视
        $(".wechat-group label").click(function() {
            $("#txt_wechat").val($(this).data("id"));
        });

        // App选择监视
        $("#list_app").change(function() {
            var app = $(this).val();
            if(app == 0) setAppUrl("", "", "", "");
            else {
                Token.ajax("{:U('Tools/Url/getinfo')}?id=" + app, {}, function(data) {
                    setAppUrl(data.android_url, data.ios_url, data.wp_url, data.default_url);
                });
            }
        });

        // 渲染选择监视
        $(".render-group label").click(function() {
            render_method = $(this).text().trim().toLowerCase();
            switch(render_method) {
                case 'canvas':
                    $(".logo-group label:not(':first')").removeAttr("disabled").removeClass("btn-disabled");
                    break;
                case 'table':
                    $(".logo-group label:not(':first')").removeClass("active").attr("disabled", "disabled").addClass("btn-disabled");
                    $(".logo-group label:first").addClass("active");
                    logo_url = "";
                    break;
                default:
                    Token.alert("无效的二维码渲染参数！");
            }
        });

        // Logo选择监视
        $(".logo-group label").click(function() {
            if($(this).attr("disabled")) return false;
            if($(this).find("img")) {
                logo_url = $(this).find("img").attr("src").replace("preview", "center");
            }
            else logo_url = "";
        });

        // 折叠监视
        $("a.collapsed").click(function() {
            if($(this).attr("aria-expanded") == "true") {
                $("#col-icon").removeClass("glyphicon-chevron-up");
                $("#col-icon").addClass("glyphicon-chevron-down");
            } else {
                $("#col-icon").removeClass("glyphicon-chevron-down");
                $("#col-icon").addClass("glyphicon-chevron-up");
            }
        });

        // 二维码大小监视
        $("#qrcode_width").change(function() {
            $("#qrcode_height").val($(this).val());
        });

        // 下载按钮
        $("#btn_download").click(function() {
            if($(this).attr("href") == "") return false;
        });

        function setAppUrl(android, ios, wp, def) {
            $("#txt_app_ios").val(ios);
            $("#txt_app_android").val(android);
            $("#txt_app_wp").val(wp);
            $("#txt_app_default").val(def);
        };

    });

    Token.qrCode = function(text) {
        var width = parseInt($("#qrcode_width").val());
        var height = parseInt($("#qrcode_height").val());
        if(width < 64 || height < 64) Token.alert("二维码尺寸参数错误！");
        else {
            $("#qrcode").html("").qrcode({
                text: text, 
                render: render_method,
                width: width, 
                height: height,
                correctLevel: parseInt($("#qrcode_error").val()),
                background: $("#qrcode_bgcolor").val(),
                foreground: $("#qrcode_fcolor").val(),
                src: logo_url
            });
            $("#btn_download").removeAttr("disabled").attr("href", $("canvas")[0].toDataURL("image/png"));
        }
    };

    </script>
</block>