<extend name="Layout/common" />
<block name="style">
    <style type="text/css">
        #qrcode {
            padding: 6px;
            width: 270px;
            height: 270px;
        }
    </style>
</block>
<block name="body">
    <h3>二维码</h3>
    <div class="row">
        <div class="col-md-9">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#url" aria-controls="url" role="tab" data-toggle="tab">网址</a></li>
                <li role="presentation"><a href="#qq" aria-controls="qq" role="tab" data-toggle="tab">QQ</a></li>
                <li role="presentation"><a href="#qun" aria-controls="qun" role="tab" data-toggle="tab">QQ群</a></li>
                <li role="presentation"><a href="#weibo" aria-controls="weibo" role="tab" data-toggle="tab">微博</a></li>
                <li role="presentation"><a href="#wechat" aria-controls="wechat" role="tab" data-toggle="tab">微信</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="url">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">网址</span>
                                <input type="url" class="form-control" id="txt_url" placeholder="http://www.wutnews.net/" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btn_url"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="qq">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">QQ</span>
                                <input type="tel" class="form-control" id="txt_qq" placeholder="2577438164" required>
                            </div>
                        </div>
                        <p id="connect_qq"></p>
                        <button type="submit" class="btn btn-primary" id="btn_qq"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="qun">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">QQ群</span>
                                <input type="tel" class="form-control" id="txt_qun" placeholder="313594349" required>
                            </div>
                        </div>
                        <p id="connect_qun">加入QQ群：<a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=3d9988f877c4f18d21c957dec1460975acd8feba206123db4768ee37523cb2ca"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="武汉理工2015新生群Token" title="武汉理工2015新生群Token"></a></p>
                        <div class="alert alert-danger" role="alert">由于腾讯对QQ群组件进行了加密处理，如需获取【一键加群】的二维码，请前往 <a href="http://qun.qq.com/join.html" target="_blank">qun.qq.com/join.html</a> 下载。</div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="weibo">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">微博uid</span>
                                <input type="tel" class="form-control" id="txt_weibo" placeholder="1213740967" required>
                            </div>
                            <div class="btn-group weibo-group" role="group" data-toggle="buttons">
                                <label class="btn btn-default" data-uid="5328936355">
                                    <input type="radio" autocomplete="off">武汉理工大学Token团队 </label>
                                <label class="btn btn-default" data-uid="1855112015">
                                    <input type="radio" autocomplete="off">武汉理工大学经纬论坛 </label>
                                <label class="btn btn-default" data-uid="2626763715">
                                    <input type="radio" autocomplete="off">武汉理工大学新闻经纬 </label>
                                <label class="btn btn-default" data-uid="3085057687">
                                    <input type="radio" autocomplete="off">武汉理工大学校园文化 </label>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-primary" id="btn_weibo"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="wechat">
                    <form onsubmit="return false;">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">微信ID</span>
                                <input type="text" class="form-control" id="txt_wechat" placeholder="3nVBWU7EEhNtrQo69yDM" required>
                            </div>
                            <div class="btn-group wechat-group" role="group" data-toggle="buttons">
                                <label class="btn btn-default" data-id="3nVBWU7EEhNtrQo69yDM">
                                    <input type="radio" autocomplete="off">Token团队 </label>
                                <label class="btn btn-default" data-id="BUNMVGXE-ziArSE39xYX">
                                    <input type="radio" autocomplete="off">TokenFamily </label>
                                </div>
                            </div>
                        <button type="submit" class="btn btn-primary" id="btn_wechat"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>生成</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <a class="thumbnail" id="qrcode"><img src="__IMAGE__/blank.png" alt="二维码" title="二维码" /></a>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__COMMON__/qrcode/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    	// 网址
        $("#btn_url").click(function() {
            var url = $('#txt_url').val().trim();
            if (Token.check.url(url)) {
                $("#qrcode").html("").qrcode(url);
            }
            else Token.alert("Url的格式不正确，请重新输入！");
        });

        // QQ
        $("#btn_qq").click(function() {
            var qq = $('#txt_qq').val().trim();
            if (Token.check.qq(qq)) {
                $("#qrcode").html("").qrcode("http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes");
                $("#connect_qq").html("QQ状态：<a target=\"_blank\" href=\"http://wpa.qq.com/msgrd?v=3&uin="+qq+"&site=qq&menu=yes\"><img border=\"0\" src=\"http://wpa.qq.com/pa?p=2:"+qq+":42\" alt=\"QQ\" title=\"通过QQ联系\"></a>");
            }
            else Token.alert("QQ号的格式不正确，请重新输入！");
        });

        // 微博
        $("#btn_weibo").click(function() {
            var weibo = $('#txt_weibo').val().trim();
            if (Token.check.weibo(weibo)) {
                $("#qrcode").html("").qrcode("http://weibo.cn/qr/userinfo?uid="+weibo);
            }
            else Token.alert("微博uid的格式不正确，请重新输入！");
        });

        // 微信
        $("#btn_wechat").click(function() {
            var wechat = $('#txt_wechat').val().trim();
            if (wechat != "") {
                $("#qrcode").html("").qrcode("http://weixin.qq.com/r/"+wechat);
            }
            else Token.alert("微信ID的格式不正确，请重新输入！");
        });

        // 微博选择监视
        $(".weibo-group label").click(function() {
            $("#txt_weibo").val($(this).data("uid"));
        });

        // 微信选择监视
        $(".wechat-group label").click(function() {
            $("#txt_wechat").val($(this).data("id"));
        });

    });

    </script>
</block>