<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="author" content="廖星">
    <title>下载 - 掌上理工大</title>
</head>

<body>
	<div id="go-download-tip" style="position: absolute; visibility: visible; top: 0px; left: 0px; z-index: 999; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.8);">
	    <div style="width: 100%;height:100%;text-align: center;color: #fff;line-height: 1.625;padding-top: 10rem;padding-top: 50vw;-webkit-background-size: contain;">
	    	<div><img src="//wechat.wutnews.net/Web/Public/Framework7/image/xiaowei.jpg" style="border-radius: 10px;margin-bottom: 40px;"></div>
	        <div>跟着小纬，点击右上角</div>
	        <div><span style="font-weight: bold;">在浏览器（或Safari）中打开</span></div>
	    </div>
	</div>
</body>
</html>