<extend name="Layout/common" />
<block name="body">
    <h3>微博统计</h3>
    <p><abbr title="1855112015">武汉理工大学经纬论坛</abbr>（<code>1855112015</code>），总共有 <code id="total_num">NaN</code> 条微博，这是第 <code id="page">NaN</code> 页</p>
    <p>目前有 <code id="fans">NaN</code> 个粉丝</p>
    <div class="text-center">
        <table class="table table-striped table-hover table-responsive">
            <thead class="breadcrumb text-center">
                <tr>
                    <th>编号</th>
                    <th>说说内容</th>
                    <th>发表时间</th>
                    <th>设备</th>
                    <th>是否转载</th>
                    <th>链接</th>
                    <th>访问量</th>
                    <th>点赞数</th>
                    <th>转发</th>
                    <th>评论</th>
                    <th>图片数</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <ul class="pagination"></ul>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
(function() {
    var total_num = 0;
    var per_page = 20;
    var query = window.location.search.split("=");
    var page = query.length == 1 ? 1 : query[1];
    var start_pos = (page - 1) * per_page;

    // 获取微博数据
    $.get("{:U('/tools/SNS/card', '', '.json')}?page=" + page, {}, function(data) {
        console.log(data);
    });

    function _Callback(result) {

        // 判断是否登录
        if(result.message == "请先登录") {
            Token.message.alert("请先登录QQ空间手机版，然后再刷新本页。<br/><a href=\"http://m.qzone.com/\" target=\"_blank\">http://m.qzone.com/</a>");
            window.open("http://m.qzone.com/");
            return false;
        }

        // 判断是否获取成功
        if(typeof(result.data) == "undefined") {
            Token.message.alert("获取说说信息失败，请检查网络！");
            return false;
        }
        // 计算总的说说数
        total_num = start_pos + 20 + result.data.remain_count;
        $("#total_num").text(total_num);
        $("#page").text(page);

        // 设置分页按钮
        var page_num = Math.ceil(total_num / per_page);
        var pagination_content = $(".pagination");
        for (var i = 1; i <= page_num; ++i) {
            var active_str = "";
            if (page == i) active_str = " class=\"active\"";
            pagination_content.append("<li" + active_str + "><a href=\"?page=" + i + "\">" + i + "</a></li>");
        }

        // 获取说说
        var table_content = $("tbody");
        $.each(result.data.vFeeds, function (i, item) {
            table_content.append("<tr><td>" + (start_pos + i + 1) + "</td><td class=\"text-left\">" + getSubstr(item.summary) + "</td><td>" + getTime(item.comm.time) + "</td><td>" + getHref(item.comm.curlikekey) + "</td><td>0</td><td>" + getNum(item.like) + "</td><td>0</td><td>" + getNum(item.comment) + "</td><td>"+getPic(item.pic)+"</td></tr>");
        });
    }

    function getHref(url) {
        return "<a href=\"" + url + "\" target=\"_blank\">点击查看说说</a>";
    }

    function getSubstr(obj) {
        if (typeof(obj.summary) == "undefined") return "";
        return obj.summary.substr(0, 30);
    }

    function getTime(timestamp) {
        return new Date(parseInt(timestamp) * 1000).toLocaleString();
    }

    function getNum(obj) {
        if (typeof(obj) == "undefined") return 0;
        else return obj.num;
    }

    function getPic(obj) {
        if (typeof(obj) == "undefined") return "无";
        else return "有";
    }

    function getGTK(str) {
        var hash = 5381;
        for(var i = 0, len = str.length; i < len; ++i) {
            hash += (hash << 5) + str.charAt(i).charCodeAt();
        }
        return hash & 0x7fffffff;
    }
});
    </script>
</block>