<extend name="Layout/common" />
<block name="body">
    <h3>URL Encode</h3>
    <div class="well">
        <form onsubmit="return false;">
            <div class="form-group">
				<input type="text" class="form-control" id="txt_url" placeholder="http://token.team/abc123" required>
            </div>
            <button type="submit" class="btn btn-success push-20" id="btn_url_encode"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>编码</button>
            <button type="submit" class="btn btn-danger" id="btn_url_decode"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>解码</button>
        </form>
    </div>
    <h3>散列/哈希</h3>
    <div class="well">
        <form onsubmit="return false;" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">文本值：</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" id="txt_hash" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">哈希函数：</label>
                <div class="col-sm-10">
                    <div class="btn-group" role="group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off">MD5 </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off">SHA1 </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off">SHA256 </label>
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off">CRC32 </label>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span id="hash_more_name">更多</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-scroll">
                            <li class="dropdown-header">MD5</li>
                            <li><a href="#">MD2</a></li>
                            <li><a href="#">MD4</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">SHA</li>
                            <li><a href="#">SHA224</a></li>
                            <li><a href="#">SHA384</a></li>
                            <li><a href="#">SHA512</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">RIPEMD</li>
                            <li><a href="#">ripemd128</a></li>
                            <li><a href="#">ripemd160</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Whirlpool</li>
                            <li><a href="#">whirlpool</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Tiger</li>
                            <li><a href="#">tiger128,3</a></li>
                            <li><a href="#">tiger160,3</a></li>
                            <li><a href="#">tiger128,4</a></li>
                            <li><a href="#">tiger160,4</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Snefru</li>
                            <li><a href="#">snefru</a></li>
                            <li><a href="#">snefru256</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Gost</li>
                            <li><a href="#">gost</a></li>
                            <li><a href="#">gost-crypto</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Adler</li>
                            <li><a href="#">adler32</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">FNVL</li>
                            <li><a href="#">fnvl32</a></li>
                            <li><a href="#">fnvla32</a></li>
                            <li><a href="#">fnvl64</a></li>
                            <li><a href="#">fnvla64</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Joaat</li>
                            <li><a href="#">joaat</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">HAVAL</li>
                            <li><a href="#">haval128,3</a></li>
                            <li><a href="#">haval128,4</a></li>
                            <li><a href="#">haval128,5</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">结果：</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="3" id="txt_hash_result" readonly>哈希值</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="btn_hash_calc"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>计算</button>
        </form>
    </div>
    <h3>Base64</h3>
    <div class="well">
        <form onsubmit="return false;">
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <textarea class="form-control" rows="12" id="txt_base64_encode"></textarea>
                    </div>
                </div>
                <div class="col-sm-2 text-center margin-top-80">
                    <p><button type="button" class="btn btn-success" id="btn_base64_encode"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>加密</button></p>
                    <p><button type="button" class="btn btn-danger" id="btn_base64_decode"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>解密</button></p>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <textarea class="form-control" rows="12" id="txt_base64_decode"></textarea>
                    </div>
                </div>
            </div>    
        </form>
    </div>

    
</block>
<block name="script">
    <script type="text/javascript" src="__PLUGIN__/base64/base64.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        // 哈希方法定义
        var hash_func = "";

    	// URL编码
        $('#btn_url_encode').click(function() {
            var oriStr = $('#txt_url').val().trim();
            //if (oriStr.match(/^\w+%3A%2F%2F/)) return;
            $('#txt_url').val(encodeURIComponent(oriStr));
        });

        // URL解码
        $('#btn_url_decode').click(function() {
            var oriStr = $('#txt_url').val().trim();
            if (Token.check.url(oriStr)) return;
            $('#txt_url').val(decodeURIComponent(oriStr));
        });

        // Base64编码
        $('#btn_base64_encode').click(function() {
            var oriStr = $('#txt_base64_encode').val().trim();
            $('#txt_base64_decode').val(Base64.encode(oriStr));
        });

        // Base64解码
        $('#btn_base64_decode').click(function() {
            var oriStr = $('#txt_base64_decode').val().trim();
            $('#txt_base64_encode').val(Base64.decode(oriStr));
        });

        // 方法选择监视
        $(".btn-group label").click(function() {
            hash_func = $(this).text().trim();
        });

        // 计算哈希
        $("#btn_hash_calc").click(function() {
            var text = $("#txt_hash").val().trim();
            if(text == "") Token.message.alert("请输入需要计算的文本值");
            else if(hash_func == "") Token.message.alert("请选择哈希函数");
            else {
                Token.ajax("{:U('Tools/Encode/hash')}", { text: text, hash: hash_func }, function(data) {
                        $("#txt_hash_result").val(data);
                });
            }
        });

        // 哈希选择框
        $(".dropdown-scroll > li").click(function() {
            var hash_more_name = $(this).text().trim();
            $("#hash_more_name").html(hash_more_name);
            $(".btn-group label").removeClass("active");
            $(".dropdown-toggle").addClass("active");
            hash_func = hash_more_name;
        });
    });

    </script>
</block>