<extend name="Layout/common" />
<block name="body">
    <h3>说说统计</h3>
    <p><abbr title="2577438164">WUT经纬网</abbr>（<code>2577438164</code>），总共有 <code id="total_num">NaN</code> 条说说，这是第 <code id="page">NaN</code> 页</p>
    <div class="text-center">
        <table class="table table-striped table-hover table-responsive">
            <thead class="breadcrumb text-center">
                <tr>
                    <th>编号</th>
                    <th>说说内容</th>
                    <th>发表时间</th>
                    <th>链接</th>
                    <th>访问量</th>
                    <th>点赞数</th>
                    <th>转发</th>
                    <th>评论</th>
                    <th>图片</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <ul class="pagination"></ul>
    </div>
</block>
<block name="script">
    <script type="text/javascript" src="__TOOLS__/js/talk.js"></script>
</block>