<extend name="Layout/common" />
<block name="body">
    <h3>IP</h3>
    <p>{$ip}</p>
    <h3>URL</h3>
    <a href="{$url}">{$url}</a>
    <h3>User</h3>
    <kbd>{$user}</kbd>
    <h3>Server</h3>
    <code>{$server}</code>
    <h3>User Agent</h3>
    <code>{$user_agent}</code>
    <h3>PHP Info</h3>
    <iframe src="{:U('Tools/Detect/info')}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" id="phpinfo"></iframe>
</block>
<block name="script">
    <script type="text/javascript">
        $(document).ready(function() {
            $(window.parent.document).find("#phpinfo").load(function() {
                $(this).height($(document).height() + 30);
            });
        });
    </script>
</block>
