<extend name="Layout/common" />

<block name="body">
    <h3>MarkDown</h3>
    <iframe src="{:U('Tools/markdown/editor', '', '.html')}" frameborder="0" marginheight="0" marginwidth="0" width="100%" id="markdown" height="360px" scrolling="no"></iframe>
    <p class="text-right" style="margin-top:5px">
        <button class="btn btn-primary push-20"><span class="glyphicon glyphicon-pencil" aria-hidden="true" onclick="javascript:Token.message.alert('将MarkDown发布成为静态HTML文件并存放在服务器上的功能尚在开发中，敬请期待！')"></span>发布</button>
        <button class="btn btn-default"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>取消</button>
    </p>
</block>
